
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <h1>Here we serve NonVeg Only</h1>
</center>
    <center>
        <h1 class="text-primary"></h1>
        <h5>Happy to serve you.... You are the one who enjoys life without limitations...</h5>
        <img src="{% static 'images/nonveg1.jpeg' %}" alt="" height="300px" width="300px">
    </center>
</body>
</html>