
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <h1>Here we serve Veg Only</h1>
</center>
    <center>
        <h1 class="text-primary"></h1>
        <h5>Happy to serve you.... You are one among who saves animal life ....</h5>
        <img src="{% static 'images/veg1.jpg' %}" alt="">
    </center>
</body>
</html>