

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <h1>Here you get colthing for your Girl!...Happy Shopping...Visit Again</h1>
</center>
    <center>
        <h1 class="text-primary"></h1>
        <h5>Happy to serve you.... You are one among who saves animal life ....</h5>
        <div>
            <h2 style="color: brown;">Traditional Wear</h2>
        <img src="{% static 'images/woemn2.png' %}" alt="" height="400px" width="400px">
    </div>
    <div>
        <h2 style="color: coral;">Western Wear</h2>
    <img src="{% static 'images/woemn1.png' %}" alt="" height="400px" width="400px">
</div>
    </center>
</body>
</html>

